<include file="Layout/header" />

<div class="layout ws10 mac content afcf yonghuBox">
  <div class="mt30 bc2box br10 p30 ofh">
    <div class="ws2 fl sleft">
      <ul class="fs14 lh30 mr30 tac">
        <li class="bc1box br3"><a href="{:U('Manage/info_manage')}">账户管理</a></li>
        <li class="mt5"><a href="{:U('Vocationtype/list_vocationtype')}">应用类型</a></li>
        <li class="mt5"><a href="{:U('Company/list_company')}">部门名称</a></li>
        <li class="mt5"><a href="{:U('Manage/log_manage')}">日志管理</a></li>
        <!-- <li class="mt5"><a href="{:U('Manage/pdfext_list')}">PDF拓展</a></li> -->
        <!-- <li class="mt5"><a href="{:U('Manage/feedbacklist_manage')}">应用反馈</a></li> -->
      </ul>
      </ul>
    </div>
    <div class="ws10 fr bdl9 pl30 pr30 sright">
        <div class="fs16 fwb"><span>账户资料</span><a style="float: right;margin-right:2%;" class="fr bc3box pt5 pb5 pl20 pr20 fs14 tac br3" href="{:U('Manage/info_manage')}">返回</a></div>
        <table cellspacing="0" cellpadding="5" class="mt20">
          <tr>
            <td class="tar">登录名</td>
            <td class="pl10">{$info.loginemail}</td>
          </tr>
          <tr>
            <td class="tar">职业</td>
            <td class="pl10">{$info.job}</td>
          </tr>
          <tr>
            <td class="tar">姓名</td>
            <td class="pl10">{$info.realname}</td>
          </tr>
          <tr>
            <td class="tar">联系电话</td>
            <td class="pl10">{$info.phone}</td>
          </tr>
          <tr>
            <td class="tar">联系地址</td>
            <td class="pl10">{$info.address}</td>
          </tr>
          <tr>
            <td class="tar">开发者类型</td>
            <td class="pl10">
	            <if condition="$info.dvrtype eq 1">
				企业
				<else />
				个人
				</if>
			</td>
          </tr>
          <tr>
            <td class="tar">注册时间</td>
            <td class="pl10">{$info.regtime}</td>
          </tr>
          <tr>
            <td class="tar">检测数量</td>
            <td class="pl10">{$info.count}</td>
          </tr>
          <tr>
            <td class="tar">最近登录</td>
            <td class="pl10">{$info.lasttime}</td>
          </tr>
          <tr>
            <td class="tar">最近登录IP</td>
            <td class="pl10">{$info.ip}</td>
          </tr>
        </table>
    </div>
  </div>
</div>
<include file="Layout/footer" />