<include file="Layout/header" />

<div class="layout ws10 mac content afcf settingBox">
  <div class="mt30 bc2box br10 p30 ofh">
    <div class="ws2 fl sleft">
      <ul class="fs14 lh30 mr30 tac">
        <li class="bc1box br3"><a href="{:U('Manage/info_manage')}">账户管理</a></li>
        <li class="mt5"><a href="{:U('Vocationtype/list_vocationtype')}">应用类型</a></li>
        <li class="mt5"><a href="{:U('Company/list_company')}">部门名称</a></li>
        <li class="mt5"><a href="{:U('Manage/log_manage')}">日志管理</a></li>
        <li class="mt5"><a href="{:U('Manage/pdfext_list')}">报告设置</a></li>
        <!-- <li class="mt5"><a href="{:U('Manage/feedbacklist_manage')}">应用反馈</a></li> -->
      </ul>
    </div>
    <div class="ws10 fr bdl9 pl30 sright">
      <div class="ofh"><span class="fl fs16 fwb pt5">创建账户</span><a class="fr bc3box pt5 pb5 pl20 pr20 fs14 tac br3" onclick="javascript:history.go(-1);">返回</a></div>
      <form method="post" action="__SELF__" id="adduser" >
      <table cellspacing="0" cellpadding="5" class="mt20">
        <tr>
          <td class="tar">邮箱名</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="email" /></td>
          <td class="pl10"><font id="emailcheck" color="red"></font></td>
        </tr>
        <tr>
          <td class="tar">姓名</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="username" /></td>
          <td class="pl10"><font id="usernameinfo" color="red"></font></td>
        </tr>
        <tr>
          <td class="tar">职业</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="job" /></td>
          <td class="pl10"><font id="jobinfo" color="red"></font></td>
        </tr>
        <tr>
            <td class="tar nwp">联系电话</td>
            <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="phone" /></td>
            <td class="pl10"><span id="phoneinfo"  style="color:red;">&nbsp;</span></td>
          </tr>
          <tr>
            <td class="tar nwp">联系地址</td>
            <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="address" /></td>
            <td class="pl10"><span style="color:red;">&nbsp;</span></td>
          </tr>
          <tr>
            <td class="tar nwp">权限类型</td>
            <td class="pl10">
              <volist name="paytypelist" id="vp">
                <input  type="radio" value='{$vp.id}' name="payid" <if condition="$vp['id'] eq 1">checked="checked"</if> />{$vp.zhpaytype}
              </volist>
            </td>
            <td class="pl10"><span style="color:red;">&nbsp;</span></td>
          </tr>
        <tr>
          <td class="tar nwp">所属类型</td>
          <td class="pl10"><input  type="radio" value='2' name="typeid" checked="checked" onclick="javascript:$('#choiceVocation').css('display','none');"/>部门<input  type="radio" value="3" name="typeid" onclick="javascript:$('#choiceVocation').css('display','block');"/>行业</td>
          <td class="pl10">
            <select name="companyid" class="pl10 bcn fcwhite" id="choiceCompany">
              <volist name="company" id="vo">
                <if condition="$vo.zhcompanytype neq '无'">
                  <option value="{$vo.id}">{$vo.zhcompanytype}</option>
                </if>
              </volist>
            </select>
            <select name="vocatypeid" class="pl10 bcn fcwhite" id="choiceVocation" style="display: none;">
              <volist name="vocationtype" id="vo">
                <if condition="$v['zhvocationtype'] neq '无'">
                  <option value="{$vo.id}">{$vo.zhvocationtype}</option>
                </if>
              </volist>
            </select>
          </td>
        </tr>
        <tr>
          <td class="tar">设置密码</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="password" name="pwd1"/></td>
          <td class="pl10"><font id="pwd1info" color="red"></font></td>
        </tr>
        <tr>
          <td class="tar">确认密码</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="password" name="pwd2" /></td>
          <td class="pl10"><font id="pwd2info" color="red"></font></td>
        </tr>
        <tr>
          <td class="tar nwp">验证码</td>
          <td class="pl10"><input class="ws12 wzh_input p5 bcn bd9 fcf" type="text" name="captcha" /></td>
          <td class="pl10"><img src="__MODULE__/Layout/captcha" onclick="javascript:this.src = this.src +'?' + Math.random();" id='clickpic' style="width: 48%;" /></td>
          <td class="pl10"><font id="captchainfo" color="red"></font></td>
        </tr>
        <tr>
          <td></td>
          <td class="pl10 pt20"><input type="button" class="ws12 bc3box pt8 pb8 fs14 fcf tac db br3 bdn" value="添加用户"  id="add" /></td>
          <td></td>
        </tr>
      </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/addusermanage.js"></script>
<include file="Layout/footer" />