<include file="Layout/header"/>
<body class="loginPage">
<div class="layout ws10 mac">
  <form id="resetpwd" class="formBox fr bc2box br5" action="__SELF__" method="post">
    <div class="fs24 fcf">重置密码</div>
    <div class="text mt30">
      <div class="mb5 fs14">{$_GET['email']}</div>
    </div>
    <div class="text mt10">
      <div class="mb5 fs14">新的密码&nbsp;&nbsp;<font color="red" id="pwd1info">&nbsp;</font></div>
      <input  class="ws12 wzh_input p5 bcn bd9 fcf" maxlength="32" type="password" name="pwd1" />
    </div>
    <div class="text mt10">
      <div class="mb5 fs14">确认密码&nbsp;&nbsp;<font color="red" id="pwd2info">&nbsp;</font></div>
      <input  class="ws12 wzh_input p5 bcn bd9 fcf" maxlength="32" type="password" name="pwd2" />
    </div>
    <div class="text mt15 ofh"> <img class="fr mt5 captcha" src="__MODULE__/Layout/captcha" onclick="javascript:this.src = this.src +'?' + Math.random();" style="width:85px;height:24px;" id='clickpic'/>
      <input  class="ws6 wzh_input p5 bcn bd9 fcf" maxlength="16" type="text" name="captcha" placeholder="验证码" />
    </div>
      <font class="mb5 fs14" id="captchainfo" color="red">&nbsp;</font>
    <table class="mt40" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td class="pr5"><input class="fs14 br3 fcf bc0 tac p5 ws12 bd9" type="submit" value="重置密码" onclick="return false"/></td>
        <td class="pr5"><input class="fs14 br3 fcf bc0 tac p5 ws12 bd9" type="button" value="返回登录"  onclick="location.href=$(this).attr('url')" url="{:U('User/login_user')}"/></td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/js/resetpwd.js"></script>
<include file="Layout/uifooter"/>