
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/syntaxhighlighter/Styles/SyntaxHighlighter.css"/>
	<script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shCore.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushCSharp.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushPhp.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushJScript.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushJava.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushVb.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushSql.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushXml.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushDelphi.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushPython.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushRuby.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushCss.js"></script>
        <script class="javascript" src="__PUBLIC__/syntaxhighlighter/Scripts/shBrushCpp.js"></script>
<!--	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
		SyntaxHighlighter.all();
	</script>-->
